
.btn{
    width: 100px;
    height: 45px;
    border-radius: 3px;
    background-color: #0290ff;
  }

.title{
    width: 500px;
    height: 45px;
    border-radius: 4px;
    border: solid 1px #e8e8e8;
    background-color: #ffffff;
  }
select{
    width: 285px;
    height: 45px;
    border-radius: 4px;
    border: solid 1px #e8e8e8;
    background-color: #ffffff;
  }
.formInput{
    display:flex;
    justify-content: space-between;
}