.bookForm{
    width: 300px;
    margin: auto;
    border: 2px solid gray;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn{
   width: 300px;
   padding: 5px;
   margin-top: 20px;
}

.formInput{
    margin: 10px 0;
}
.title{
    width: 160px;
    height: 20px;
    margin-left: 10px;
}

select{
    width: 170px;
    height: 30px;
    margin-left: 10px;
}