.bookstoreCms {
  width: 90vw;
  min-height:70vh;
  margin: 40px auto;
  padding: 60px 10px;
  box-sizing: border-box;
  background-color: #F5F6FA;
}

.app{
  width: 80vw;
  min-height: 65vh;
  margin:0 auto;
  padding-bottom: 50px;
  border-radius: 4px;
  background-color:  #fafafa;
  box-sizing: border-box;
}  

.content{
  width: 80vw;
  margin:0 auto;
}