.bookstoreCms {
  width: 90vw;
  min-height:70vh;
  margin: 40px auto;
  padding: 60px 10px;
  box-sizing: border-box;
  background-color:#acafbb;
}

.app{
  width: 80vw;
  min-height: 65vh;
  margin:0 auto;
  padding-bottom: 50px;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 var(--black-5);
  background-color: lightgray;
  box-sizing: border-box;
}  

.content{
  width: 80vw;
  margin:0 auto;
}