.book{
    border: 1px solid lightgrey;

    background: white;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    box-shadow: 10px 10px 20px 10px#D1D2D5;
    justify-content:space-evenly;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    transition: 0.5s;
}
.book:hover{
    transform:scale(1.03)
}
.removeBtn{
    border:none;
    color:blue;
    background:none;
    text-transform: capitalize;
    cursor: pointer;
  
}

.bookTitle{
 
}

.readStatus{

}

.currentChapter{

}