nav{
    background: white;
    padding: 10px;
}
nav h1{
    width: 240px;
    height: 37px;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0290ff;
}